.layout-header {
	height: 104px;

	&__wrapper {
		@extend %layout;
	}

	&__logo {
		position: absolute;
		left: 0;
		top: 10px;
	}

	&__search {
		position: absolute;
		left: 351px;
		top: 31px;
	}

	&__contacts {
		float: right;
		margin-top: 10px;
		padding-left: 34px;
		background: url(/images/marker.png) 0 0 no-repeat;
	}

	&__address {
		margin-bottom: 8px;
	}
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}