.news-main {
    clear: both;
    padding: 45px 0;
    background-color: #fff;

    &__wrapper {
        @extend %layout;
        font-size: 0;
    }

    &__title {
        color: #000;
        font-size: 3rem;
        font-weight: 300;
        line-height: 0.8;
        text-align: center;
        margin-bottom: 50px;
    }

    &__item {
        clear: both;

        &__image {
            width: 140px;
            height: 140px;
            float: left;
            font-size: 0;
            position: relative;
            z-index: 10;
            border: 10px solid #ffd500;
            margin-right: -160px;

            &__src {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__content {
            width: 100%;
            float: left;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__image + &__content {
            padding-left: 160px;
        }

        &__date {
            color: #2671b9;
            display: block;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.67;
            margin-bottom: 15px;
        }

        &__description {
            color: #4c4c4c;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.29;
        }
    }
}

@media screen and (max-width: 768px) {
    .news-main {
        &__item {
            clear: both;

            &:last-child {
                border-bottom: 0;
            }

            &__image {
                float: none;
                margin-bottom: 20px;
            }

            &__content {
                clear: both;
                padding-top: 0;
                padding-bottom: 0;
            }

            &__image + &__content {
                padding-left: 0;
            }
        }
    }
}