<section class="tripple clearfix">
    
    <div class="tripple__wrapper">
        <article class="tripple__item">
            <div class="tripple__item__image">
                <img src="../images/icon-about.png" alt="">
            </div>
            <h3 class="tripple__item__title">О компании</h3>
            <p class="tripple__item__description">RS принадлежит к числу крупных операторов на аграрном рынке России.  Предприятие производит зерновые, масличные и другие культуры, осуществляет их хранение, переработку, торговые и логистические операции...</p>
        </article>
        
        <article class="tripple__item">
            <div class="tripple__item__image">
                <img src="../images/icon-shop.png" alt="">
            </div>
            <h3 class="tripple__item__title">Рынок</h3>
            <p class="tripple__item__description">RS играет заметную роль на рынке сельскохозяйственного сырья в России. По результатам 2014 с/х года компания входит в число крупнейших экспортеров российского зерна, занимая 6-е место по объемам продаж в натуральном выражении… </p>
        </article>

        <article class="tripple__item">
            <div class="tripple__item__image">
                <img src="../images/icon-products.png" alt="">
            </div>
            <h3 class="tripple__item__title">Продукция</h3>
            <p class="tripple__item__description">Основную долю продуктов RSзанимают продукты: птицеводство, свиноводство, скотоводство, прочее животноводство, рыбоводство, сырье.</p>
        </article>
    </div>

</section>
