<nav class="pagination clearfix">
	<ol class="pagination__list" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<li class="pagination__item pagination__item_control pagination__item_control_prev"><a href="" class="pagination__item__text">в начало</a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page current"><span itemprop="name">1</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">2</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">3</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">4</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">5</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">6</span></a></li>
		<li class="pagination__item pagination__item_control pagination__item_control_next"><a href="" class="pagination__item__text">в конец</a></li>
	</ol>
</nav>