<form action="" class="sidebar__search form-search">
    <input placeholder="Поиск продукции" class="form-search__input">
    <button type="submit" class="form-search__button"></button>
</form>

<aside class="sidebar sidebar_normal" id="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
    <div class="sidebar__trigger j-sidebar-trigger">
        Продукция
    </div>
    
    <div class="sidebar__content j-sidebar-content">
        <ul class="accordion">
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_chicken j-toggle-accordion">
                    <span class="accordion__item__header__title">Птицеводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт СТАРТ (0 – 14 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт РОСТ (15 – 28 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт ФИНИШ (29 – 45 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум СТАРТ (0 – 14 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум РОСТ (15 - 28 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум ФИНИШ (29 – 45 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a>
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-2 Стандарт СТАРТ (0 – 7 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-4 Стандарт РОСТ (8 – 20 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-1 Стандарт ФИНИШ - период яйцекладки (21 - 45 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-1.2 Стандарт ФИНИШ (от 45 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>
                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a>
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-11 Стандарт СТАРТ (0 – 8 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-12 Стандарт РОСТ (9 – 15 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-13 Стандарт ФИНИШ (16 – 30 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-11 Премиум СТАРТ (0 – 8 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-12 Премиум РОСТ (9 – 15 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-13 Премиум ФИНИШ (16 – 30 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>
                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a>
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-21 Стандарт СТАРТ (0 – 3 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-22 Стандарт РОСТ (4 – 8 недель)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК-23 Стандарт ФИНИШ (от 45 недель до убоя)</a></li>                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_pig j-toggle-accordion">
                    <span class="accordion__item__header__title">Свиноводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Свиноводство</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–1 (свиноматки)
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–2 (лактирующие свиноматки)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–3 (5 – 35 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–4 (35 – 50 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–5 (50 – 75 дней)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–6 (от 76 дня до 70 кг)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">СК–7 (от 70 кг до убоя)</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 3</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Пецивет</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_cow j-toggle-accordion">
                    <span class="accordion__item__header__title">Скотоводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>КРС</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Мелкий рогатый скот</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                        </ul>

                    </li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_animal j-toggle-accordion">
                    <span class="accordion__item__header__title">Прочее животноводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Кролики</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК–90Л</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">ПК–90</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_fish j-toggle-accordion">
                    <span class="accordion__item__header__title">Рыбоводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Кормосмесь</strong></a></li>
                </ul>
            </li>

            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_sugar j-toggle-accordion">
                    <span class="accordion__item__header__title">Сырье</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Сельхозкультуры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Пшеница</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кукуруза</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ячмень</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Отруби пшеничные</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Белковые добавки растительного происхождения</strong></a>

                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Жмых соевый</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Жмых рапсовый</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Шрот подсолнечный</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Жмых подсолнечный</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Шрот соевый</a></li>
                        </ul>
                        
                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Белковые добавки животного происхождения</strong></a>

                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Мука мясокостная</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Мука рыбная</a></li>
                        </ul>
                        
                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Аминокислоты</strong></a>

                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Лизин</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Треонин</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Метионин</a></li>
                        </ul>
                        
                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Другие добавки</strong></a></li>
                </ul>
            </li>
        </ul>
    </div>

</aside>