<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
    
    <ul class="accordion">
        <li class="accordion__item j-toggle-item">
            <a href="" class="accordion__item__header accordion__item__header_chicken j-toggle-accordion">
                <span class="accordion__item__header__title">Птицеводство</span>
            </a>

            <ul class="accordion__list j-toggle-list">
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Бройлеры</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Куры - несушки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Индюки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Утки</a></li>
            </ul>
        </li>
        
        <li class="accordion__item j-toggle-item">
            <a href="" class="accordion__item__header accordion__item__header_pig j-toggle-accordion">
                <span class="accordion__item__header__title">Свиноводство</span>
            </a>

            <ul class="accordion__list j-toggle-list">
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Бройлеры</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Куры - несушки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Индюки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Утки</a></li>
            </ul>
        </li>
        
        <li class="accordion__item j-toggle-item">
            <a href="" class="accordion__item__header accordion__item__header_cow j-toggle-accordion">
                <span class="accordion__item__header__title">Скотоводство</span>
            </a>

            <ul class="accordion__list j-toggle-list">
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Бройлеры</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Куры - несушки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Индюки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Утки</a></li>
            </ul>
        </li>
        
        <li class="accordion__item j-toggle-item">
            <a href="" class="accordion__item__header accordion__item__header_animal j-toggle-accordion">
                <span class="accordion__item__header__title">Животноводство</span>
            </a>

            <ul class="accordion__list j-toggle-list">
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Бройлеры</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Куры - несушки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Индюки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Утки</a></li>
            </ul>
        </li>
        
        <li class="accordion__item j-toggle-item">
            <a href="" class="accordion__item__header accordion__item__header_fish j-toggle-accordion">
                <span class="accordion__item__header__title">Рыбоводство</span>
            </a>

            <ul class="accordion__list j-toggle-list">
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Бройлеры</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Куры - несушки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Индюки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Утки</a></li>
            </ul>
        </li>

        <li class="accordion__item j-toggle-item">
            <a href="" class="accordion__item__header accordion__item__header_sugar j-toggle-accordion">
                <span class="accordion__item__header__title">Сырье</span>
            </a>

            <ul class="accordion__list j-toggle-list">
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Бройлеры</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Куры - несушки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Индюки</a></li>
                <li class="accordion__list__item"><a href="" class="accordion__list__link">Утки</a></li>
            </ul>
        </li>
    </ul>

</aside>