<form action="" class="sidebar__search form-search">
    <input placeholder="Поиск продукции" class="form-search__input">
    <button type="submit" class="form-search__button"></button>
</form>

<aside class="sidebar sidebar_normal" id="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
    <div class="sidebar__trigger j-sidebar-trigger">
        Продукция
    </div>
    
    <div class="sidebar__content j-sidebar-content">
        <ul class="accordion">
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_chicken j-toggle-accordion">
                    <span class="accordion__item__header__title">Птицеводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_pig j-toggle-accordion">
                    <span class="accordion__item__header__title">Свиноводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_cow j-toggle-accordion">
                    <span class="accordion__item__header__title">Скотоводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_animal j-toggle-accordion">
                    <span class="accordion__item__header__title">Животноводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
            
            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_fish j-toggle-accordion">
                    <span class="accordion__item__header__title">Рыбоводство</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>

            <li class="accordion__item j-toggle-item">
                <a href="" class="accordion__item__header accordion__item__header_sugar j-toggle-accordion">
                    <span class="accordion__item__header__title">Сырье</span>
                </a>

                <ul class="accordion__list j-toggle-list j-toggle-item">
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Бройлеры</strong></a>
                        
                        <ul class="accordion__list j-toggle-list">
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Стандарт</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-1 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-2 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">БР-3 Премиум</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Кормосмесь</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 1К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Премикс Конвет 2К</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Муливет wsp</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Сульфатрим</a></li>
                            <li class="accordion__list__item"><a href="./product-item2.html" class="accordion__list__link">Ветциклин</a></li>
                        </ul>

                    </li>

                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Куры - несушки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Индюки</strong></a></li>
                    <li class="accordion__list__item"><a href="./product-item.html" class="accordion__list__link j-toggle-accordion"><strong>Утки</strong></a></li>
                </ul>
            </li>
        </ul>
    </div>

</aside>