<section class="slider">
	<form action="" class="slider__search form-search">
	    <input placeholder="Поиск продукции" class="form-search__input">
	    <button type="submit" class="form-search__button"></button>
	</form>

	<div class="slider__wrapper js-slider js-slider-calc">
	
		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-1.jpg);"></div>
		</article>

		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-2.jpg);"></div>
		</article>

		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-3.jpg);"></div>
		</article>

		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-4.jpg);"></div>
		</article>

		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-5.jpg);"></div>
		</article>

		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-6.jpg);"></div>
		</article>

		<article class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">Птицеводство</div>
				<div class="slider__item__description">Скотоводство в России всегда играло важную роль в сельском хозяйстве, экономической безопасности, обеспечении ее населения мясом и молоком. Такая роль была обусловлена как историческими особенностями развития народов страны...</div>
			</div>
			<div class="slider__item__overlay"></div>
			<div class="slider__item__image" style="background-image: url(../images/slide-7.jpg);"></div>
		</article>

	</div>
</section>