.breadcrumbs {
	clear: both;
	width: 100%;
	padding: 0;
	font-size: 0;
	overflow: hidden;
	margin-bottom: 15px;
	
	&__wrapper {
		@extend %layout;
		padding: 0;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item {
		float: left; 
		margin: 0;
		padding: 0;
		font-size: 0;
		margin-right: 10px;
		padding-right: 14px; 
		background: none;
		position: relative;
		vertical-align: top;

		&:not(:last-child):after {
			width: 4px;
			height: 7px;
			content: "";
			position: absolute;
			top: 4px;
			right: -2px;
			background: url(/images/bc-arr.png) 0 50% no-repeat;
		}

		&__link {
			color: #000;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1.14;
			padding: 0;
			display: block;
			text-decoration: underline;
		}

		&:last-child &__link {
			text-decoration: none;
		}
	}
}