input[placeholder],
input::placeholder {
	text-overflow: ellipsis;
}

input,
textarea {
	-webkit-appearance: textfield;
	-webkit-rtl-ordering: logical;
	user-select: text;
	cursor: auto;

	&::placeholder {
        color: #ababab;
        opacity: 1;
	}

	&:focus::placeholder {
		color: transparent;
		opacity: 0;
	}
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

label {
	cursor: pointer;
}

input, button {
	-webkit-appearance: none;
}

textarea {
	resize: vertical;
}

.form {
	clear: both;

	&__row {
		clear: both;
        position: relative;
		margin-bottom: 11px;
	}

    &__column-container {
        clear: both;
        margin-bottom: 35px;
    }

	&__column {
		width: 50%;
		float: left;

		&_pl {
			padding-left: 10px;
		}

		&_pr {
			padding-right: 10px;
		}
	}

    &__require {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #ababab;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.33;
    }

	&__input,
	&__textarea {
	    width: 100%;
        color: #262626;
		font-family: $font-forms;
		box-sizing: border-box;
        background-color: #fff;
        border-radius: 9px;
        font-size: 1.8rem;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid rgba(45, 119, 188, 0.2);

		&.error {
			background: rgba(255, 0, 0, 0.1);
			border-color: rgb(255, 0, 0);
			border-color: rgba(255, 0, 0, 0.5);
        }
		
		&:disabled {
			opacity: 0.4;
			cursor: default;
		}

		&:focus,
		&:focus {
		    outline: none;
            border-color: #2d77bc;
		}

		&::-ms-clear {
		    display: none;
		}
	}

	&__error-text {
		position: absolute;
		top: 100%;
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1;
		margin-top: 4px;
		color: rgb(255, 0, 0);
	}

	&__input {
	    height: 53px;
	}

	&__textarea {
		height: 181px;
		padding-top: 10px;
        padding-bottom: 10px;
	    max-width: 100%;
	    resize: vertical;
	}

	&__star {
		color: orange;
		font-size: 1.4rem;
		font-weight: 400;
	}

	&__button {
		clear: both;
		text-align: center;
	}

    &__check {
        clear: both;
        text-align: center;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    .form {
        &__column {
            float: none;
            width: 100%;
            padding: 0;
        }
    }
}