.logo {
	min-width: 105px;
	height: 87px;
	display: block;
	background: url(../images/logo.png) 0 50% no-repeat;
	background-size: 105px 87px;
    padding-left: 105px;
    color: #1e0f00;
    font-family: $font-Sitka;
    font-size: 2.8rem;
    line-height: 87px;
    text-decoration: none;
    text-transform: uppercase;
}